<div class="form-group first-form-group">
  <label for="value" class="col-sm-3 control-label">Enter Word</label>
  <div class="col-sm-9">
    <input class="form-control" type="text" ng-model="newWord"></input>
  </div>
</div>
<hr/>
<div class="container-fluid">
  <div ng-if="0 == model.inputList.length" class="text-info">
    No words have been entered.
  </div>
  <div class="row" ng-repeat="input in model.inputList track by $index" ng-if="$index % 4 == 0">
    <div class="col-sm-3 input-box"
         ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]"
         ng-if="model.inputList[i] != null">
      <div class="col-xs-10 col-slim">
        <input class="form-control" type="text" ng-model="model.inputList[i]" disabled></input>
      </div>
      <div class="col-xs-2 col-slim">
        <button class="btn btn-danger"
                tooltip="Delete Word"
                tooltip-placement="left"
                ng-click="">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </div>
    </div>
  </div>
</div>
