<div class="container-fluid loading" ng-if="!isComplete"></div>
<div ng-if="isComplete">
  <div class="form-group first-form-group">
    <label for="language_id" class="col-sm-3 control-label">Language</label>
    <div class="col-sm-9">
      <select id="language_id"
              name="language_id"
              ng-options="item.value as item.name for item in model.languageList"
              ng-model="model.viewModel.record.language.id"
              ng-change="patch( 'language_id' )"
              ng-disabled="!isComplete || !editEnabled"
              class="form-control">
      </select>
    </div>
  </div>
  <hr/>
  <div ng-class="{ 'first-form-group': $first }"
       ng-repeat="word in model.viewModel.labelList"
       class="form-group">
    <label for="{{ word.name }}" class="col-sm-3 control-label">{{ word.label }}</label>
    <div class="col-sm-3">
      <select id="{{ word.name }}"
              name="{{ word.name }}"
              ng-model="model.viewModel.record[word.name]"
              ng-change="patch( word.name )"
              ng-disabled="!isComplete || !editEnabled"
              class="form-control">
        <option value="">(empty)</option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
    </div>
    <label for="{{ word.name }}_rey_data_variant_id" class="col-sm-1 control-label">variant</label>
    <div class="col-sm-5" ng-init="emptyItem={'value':'','name':'(empty)'}">
      <select id="{{ word.name }}_rey_data_variant_id"
              name="{{ word.name }}_rey_data_variant_id"
              ng-options="item.value as item.name for item in model.variantList |
                            cnByObjectProperty:'language_id':model.viewModel.record.language.id |
                            cnByObjectProperty:'word':word.name |
                            cnAddItem:emptyItem:true"
              ng-model="model.viewModel.record[word.name+'_rey_data_variant_id']"
              ng-change="patch( word.name+'_rey_data_variant_id' )"
              ng-disabled="!isComplete || !editEnabled"
              class="form-control">
      </select>
    </div>
  </div>
</div>
