<div class="container-fluid loading" ng-if="!isComplete"></div>
<div ng-if="isComplete">
  <div class="form-group first-form-group" style="padding-bottom: 0px;">
    <label for="language_id" class="col-sm-3 control-label">Language</label>
    <div class="col-sm-9">
      <select id="language_id"
              name="language_id"
              ng-options="item.value as item.name for item in model.languageList"
              ng-model="model.viewModel.record.language_id"
              ng-change="patch( 'language_id' )"
              ng-disabled="!isComplete || !editEnabled"
              class="form-control">
      </select>
    </div>
  </div>
  <hr/>
  <div ng-repeat="word in model.viewModel.wordList"
       class="form-group"
       ng-style="{ 'background-color': 0==$index%2 ? '#f5f5f5' : '' }"
       style="padding-bottom: 2px; margin: 0px;">
    <label class="col-sm-3 control-label">{{ word.label }}</label>
    <div class="col-sm-4" style="text-align: center;">
      <input id="{{ word.name }}_yes"
             value="1"
             ng-model="word.value"
             ng-change="patch( word.name )"
             ng-disabled="!isComplete || !editEnabled"
             type="radio"></input>
      <label for="{{ word.name }}_yes"
             class="control-label"
             ng-style="{ color: !isComplete || !editEnabled ? '#ccc' : '' }"
             style="text-align: left; min-width: 4em;">Yes</label>
      <input id="{{ word.name }}_no"
             value="0"
             ng-model="word.value"
             ng-change="patch( word.name )"
             ng-disabled="!isComplete || !editEnabled"
             type="radio"></input>
      <label for="{{ word.name }}_no"
             ng-style="{ color: !isComplete || !editEnabled ? '#ccc' : '' }"
             class="control-label">No</label>
    </div>
    <div class="col-sm-5">
      <span ng-repeat="variant in model.variantList |
                      cnByObjectProperty:'language_id':model.viewModel.record.language_id |
                      cnByObjectProperty:'word':word.name">
        <input id="{{ word.name }}_{{ variant.name }}"
               value="variant{{ variant.value }}"
               ng-model="word.value"
               ng-change="patch( word.name )"
               ng-disabled="!variant.allowed || !isComplete || !editEnabled"
               type="radio"></input>
        <label for="{{ word.name }}_{{ variant.name }}"
               class="control-label"
               ng-style="{ color: !variant.allowed || !isComplete || !editEnabled ? '#ccc' : '' }"
               style="text-align: left; min-width: 6em;">{{ variant.name }}</label>
      </span>
    </div>
  </div>
</div>
<hr/>
<div class="container-fluid vertical-spacer">
  <div ng-if="0 == model.viewModel.intrusionList.length && !editEnabled" class="text-info">
    No intrusions have been entered.
  </div>
  <div ng-if="0 < model.viewModel.intrusionList.length">
    <div ng-repeat="doNotUse in model.viewModel.intrusionList track by $index" ng-if="$index % 4 == 0">
      <div class="col-sm-3"
           ng-repeat="i in [$index, $index+1, $index+2, $index+3]"
           ng-if="null != model.viewModel.intrusionList[i]">
        <button class="btn full-width"
                ng-class="{
                  'btn-warning': 'variant' == model.viewModel.intrusionList[i].word_type,
                  'btn-danger': 'intrusion' == model.viewModel.intrusionList[i].word_type
                }"
                uib-tooltip="Click to remove word"
                ng-click="deleteWord( model.viewModel.intrusionList[i] )">
          <span class="rounded language-code bg-info">{{ model.viewModel.intrusionList[i].code }}</span>
          {{ model.viewModel.intrusionList[i].word }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="form-group" style="padding-bottom: 0px;" ng-show="editEnabled">
  <label for="newWord" class="col-sm-3 control-label">Enter Word</label>
  <div class="col-sm-9">
    <input class="form-control"
           id="newWord"
           name="newWord"
           ng-model="newWord"
           uib-typeahead="item as '<span class=\'rounded language-code bg-info\'>' + item.code + '</span> ' + item.word
                      for item in typeaheadModel.getValues( $viewValue )"
           typeahead-on-select="submitNewWord( true )"
           ng-class="{ 'loading-small': typeaheadModel.isLoading }"
           type="text"
           autocomplete="off"
           cn-submit-word="submitNewWord( false )"
           ng-disabled="!isComplete || isWorking || !editEnabled"></input>
  </div>
</div>
