<div class="container-fluid loading" ng-if="!isComplete"></div>
<div ng-if="isComplete">
  <div class="form-group first-form-group" style="padding-bottom: 0px;">
    <label for="language_id" class="col-sm-3 control-label">Language</label>
    <div class="col-sm-9">
      <select id="language_id"
              name="language_id"
              ng-options="item.value as item.name for item in model.languageList"
              ng-model="model.viewModel.record.language_id"
              ng-change="patch( 'language_id' )"
              ng-disabled="!isComplete || !editEnabled"
              class="form-control">
      </select>
    </div>
  </div>
  <hr/>
  <div ng-repeat="word in model.viewModel.labelList" class="form-group" style="padding-bottom: 2px;">
    <label for="{{ word.name }}" class="col-sm-3 control-label">{{ word.label }}</label>
    <div class="col-sm-3">
      <select id="{{ word.name }}"
              name="{{ word.name }}"
              ng-model="model.viewModel.record[word.name]"
              ng-change="patch( word.name )"
              ng-disabled="!isComplete || !editEnabled"
              class="form-control">
        <option value="">(empty)</option>
        <option value="1">Yes</option>
        <option value="0">No</option>
      </select>
    </div>
    <label for="{{ word.name }}_rey_data_variant_id" class="col-sm-1 control-label">variant</label>
    <div class="col-sm-5" ng-init="emptyItem={'value':'','name':'(empty)'}">
      <select id="{{ word.name }}_rey_data_variant_id"
              name="{{ word.name }}_rey_data_variant_id"
              ng-options="item.value as item.name for item in model.variantList |
                            cnByObjectProperty:'language_id':model.viewModel.record.language_id |
                            cnByObjectProperty:'word':word.name |
                            cnAddItem:emptyItem:true"
              ng-model="model.viewModel.record[word.name+'_rey_data_variant_id']"
              ng-change="patch( word.name+'_rey_data_variant_id' )"
              ng-disabled="!isComplete || !editEnabled"
              class="form-control">
      </select>
    </div>
  </div>
</div>
<hr/>
<div class="container-fluid vertical-spacer">
  <div ng-if="0 == model.viewModel.intrusionList.length && !editEnabled" class="text-info">
    No intrusions have been entered.
  </div>
  <div ng-if="0 < model.viewModel.intrusionList.length">
    <div ng-repeat="doNotUse in model.viewModel.intrusionList track by $index" ng-if="$index % 4 == 0">
      <div class="col-sm-3"
           ng-repeat="i in [$index, $index+1, $index+2, $index+3]"
           ng-if="null != model.viewModel.intrusionList[i]">
        <button class="btn full-width"
                ng-class="{
                  'btn-warning': 'variant' == model.viewModel.intrusionList[i].word_type,
                  'btn-danger': 'intrusion' == model.viewModel.intrusionList[i].word_type
                }"
                tooltip="Click to remove word"
                ng-click="deleteWord( model.viewModel.intrusionList[i] )">
          <span class="rounded language-code bg-info">{{ model.viewModel.intrusionList[i].code }}</span>
          {{ model.viewModel.intrusionList[i].word }}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="form-group" style="padding-bottom: 0px;" ng-show="editEnabled">
  <label for="newWord" class="col-sm-3 control-label">Enter Intrusion</label>
  <div class="col-sm-9">
    <input class="form-control"
           id="newWord"
           name="newWord"
           ng-model="newWord"
           typeahead="item as '<span class=\'rounded language-code bg-info\'>' + item.code + '</span> ' + item.word
                      for item in typeaheadModel.getValues( $viewValue )"
           typeahead-editable="true"
           typeahead-min-length="2"
           typeahead-on-select="submitNewWord( true )"
           ng-class="{ 'loading-small': typeaheadModel.isLoading }"
           type="text"
           autocomplete="off"
           cn-submit-word="submitNewWord( false )"
           ng-disabled="!isComplete || isWorking || !editEnabled"></input>
  </div>
</div>
