<div class="form-group first-form-group">
  <label for="value" class="col-sm-3 control-label">Enter Number or Letter</label>
  <div class="col-sm-3">
    <input class="form-control"
           id="newWord"
           type="text"
           ng-model="newWord"
           ng-change="checkNewWord()"
           cn-submit-word="submitNewWord()"
           ng-disabled="!isComplete || isWorking"
           autofocus></input>
  </div>
  <div class="col-sm-6 form-text">(only numbers or a single letter is accepted)</div>
</div>
<hr/>
<div class="container-fluid loading" ng-if="!isComplete"></div>
<div class="container-fluid" ng-if="isComplete">
  <div ng-if="0 == model.viewModel.record.length" class="text-info">
    No words have been entered.
  </div>
  <div class="row" ng-repeat="doNotUse in model.viewModel.record track by $index" ng-if="$index % 6 == 0">
    <div class="col-sm-2 input-box"
         ng-repeat="i in [$index, $index+1, $index+2, $index+3, $index+4, $index+5]"
         ng-if="null != model.viewModel.record[i]">
      <div class="col-xs-10 col-slim-right">
        <input class="form-control" type="text" ng-model="model.viewModel.record[i].word" disabled></input>
      </div>
      <div class="col-xs-2 col-slim-left">
        <button class="btn btn-danger"
                ng-disabled="isWorking"
                ng-click="deleteWord( model.viewModel.record[i].rank )">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </div>
    </div>
  </div>
</div>
