<form ng-submit="proceed()" class="noselect">
  <div class="modal-header bg-primary">
    <h4 class="modal-title">{{ model.title }}</h4>
  </div>
  <div class="modal-body allow-select">
    <div class="container-fluid">
      Please confirm that you wish to submit the word, "{{ model.word }}", and that it is correctly spelled.<br />
      <br />
      Do you wish to submit the word "{{ model.word }}"?
    </div>
    <hr />
    <div class="container-fluid">
      <label for="languageId" class="col-sm-3 control-label">Language</label>
      <div class="col-sm-9">
        <select id="languageId"
                name="languageId"
                ng-options="item.value as item.name for item in model.languageList"
                ng-model="model.languageId"
                class="form-control">
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer bg-info">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" cn-autofocus>Proceed</button>
  </div>
</form>
