<form ng-submit="proceed()" novalidate name="form" class="noselect">
  <div class="modal-header bg-primary">
    <h4 class="modal-title">{{ model.title }}</h4>
  </div>
  <!-- this model-body requires a specialized style so that the typeahead displays correctly -->
  <div class="modal-body" style="overflow: visible; margin-bottom: 1em;">
    <div class="container-fluid">
      <span style="white-space: pre-wrap;">{{ model.message }}</span>
    </div>
    <hr />
    <div class="container-fluid">
      <input class="form-control"
             id="word"
             name="word"
             ng-model="word"
             typeahead="item as '<span class=\'rounded language-code bg-info\'>' + item.code + '</span> ' + item.word
                        for item in getTypeaheadValues( $viewValue )"
             typeahead-editable="true"
             typeahead-min-length="2"
             typeahead-input-formatter="formatLabel( $model )"
             class="form-control"
             ng-class="{ 'loading-small': typeaheadIsLoading }"
             type="text"
             autocomplete="off"
             autofocus></input>
    </div>
    <span ng-if="form.word.$invalid && form.word.$dirty">
      <span class="help-block" ng-if="form.word.$error.required">Cannot be blank</span>
      <span class="help-block" ng-if="form.word.$error.editable">Must be chosen from list</span>
    </span>
  </div>
  <div class="modal-footer bg-info">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">Proceed</button>
  </div>
</form>
