<form ng-submit="proceed()" novalidate name="form" class="noselect">
  <div class="modal-header bg-primary">
    <h4 class="modal-title">{{ model.title }}</h4>
  </div>
  <!-- this model-body requires a specialized style so that the typeahead displays correctly -->
  <div class="modal-body" style="overflow: visible; margin-bottom: 1em;">
    <div class="container-fluid">
      <span style="white-space: pre-wrap;">{{ model.message }}</span>
    </div>
    <hr />
    <div class="container-fluid">
      <input class="form-control"
             id="word"
             name="word"
             ng-model="word"
             uib-typeahead="item for item in typeaheadModel.getValues( $viewValue )"
             typeahead-template-url="{{ wordTypeaheadTemplateUrl }}"
             typeahead-input-formatter="formatLabel( $model )"
             ng-class="{ 'loading-small': typeaheadModel.isLoading }"
             type="text"
             autocomplete="off"
             cn-autofocus></input>
    </div>
  </div>
  <div class="modal-footer bg-info">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" ng-disabled="null != typeaheadModel.lastGUID">Proceed</button>
  </div>
</form>
