<div class="form-group first-form-group" ng-show="editEnabled">
  <label for="value" class="col-sm-3 control-label">Enter Word</label>
  <div class="col-sm-6">
    <input class="form-control"
           id="newWord"
           name="newWord"
           ng-model="newWord"
           uib-typeahead="item for item in typeaheadModel.getValues( $viewValue )"
           typeahead-on-select="submitNewWord( true )"
           typeahead-template-url="{{ wordTypeaheadTemplateUrl }}"
           ng-class="{ 'loading-small': typeaheadModel.isLoading }"
           type="text"
           autocomplete="off"
           cn-submit-word="submitNewWord( false )"
           ng-disabled="!isComplete || isWorking || !editEnabled"
           cn-autofocus></input>
  </div>
  <div class="col-sm-3">
    <button class="btn btn-default full-width"
            type="button"
            uib-tooltip="Add a placeholder word that can be filled in later."
            ng-disabled="!isComplete || isWorking || !editEnabled"
            ng-click="submitWord( { id: null } )">Add Placeholder</button>
  </div>
</div>
<hr ng-show="editEnabled" />
<div class="container-fluid loading" ng-if="!isComplete"></div>
<div class="container-fluid" ng-class="{ 'first-form-group': !editEnabled }" ng-if="isComplete">
  <div ng-if="0 == model.viewModel.record.length" class="text-info">
    No words have been entered.
  </div>
  <div class="row"
       style="margin-bottom: 4px;"
       ng-repeat="doNotUse in model.viewModel.record track by $index" ng-if="$index % 4 == 0">
    <div class="col-sm-3 col-slim"
         ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3]"
         ng-if="null != model.viewModel.record[i]">
      <div class="col-xs-2" ng-if="editEnabled">
        <button class="btn btn-default"
                ng-class="{ 'active': cursor == model.viewModel.record[i].rank }"
                type="button"
                uib-tooltip="{{
                  cursor != model.viewModel.record[i].rank ? 'Insert Here' :
                  ( 'insert' == cursorType ? 'Replace Here' : 'Remove Replace' )
                }}"
                ng-disabled="isWorking || !editEnabled"
                ng-click="toggleCursor( model.viewModel.record[i].rank )">
          <i class="glyphicon" ng-class="{
            'glyphicon-unchecked': cursor != model.viewModel.record[i].rank,
            'glyphicon-log-in': cursor == model.viewModel.record[i].rank && 'insert' == cursorType,
            'glyphicon-new-window': cursor == model.viewModel.record[i].rank && 'replace' == cursorType
          }"></i>
        </button>
      </div>
      <div ng-class="editEnabled ? 'col-xs-10' : 'col-xs-12'">
        <button class="btn full-width"
                type="button"
                ng-class="{
                  'btn-success': 'variant' == model.viewModel.record[i].word_type,
                  'btn-danger': 'intrusion' == model.viewModel.record[i].word_type,
                  'btn-default': 'primary' == model.viewModel.record[i].word_type,
                  'btn-info': 'placeholder' == model.viewModel.record[i].word_type
                }"
                uib-tooltip="{{ 'Click to remove ' + model.viewModel.record[i].word_type }}"
                ng-disabled="isWorking || !editEnabled"
                ng-click="removeWord( model.viewModel.record[i] )">
          <span ng-if="'placeholder' != model.viewModel.record[i].word_type"
                class="rounded language-code bg-info">{{ model.viewModel.record[i].code }}</span>
          {{ 'placeholder' == model.viewModel.record[i].word_type ?
            "(placeholder)" : model.viewModel.record[i].word }}
        </button>
      </div>
    </div>
  </div>
</div>
