<cn-record-view ng-show="false" model="model"></cn-record-view>
<div class="vertical-spacer">
  <div class="record-view rounded">
    <div class="container-fluid bg-primary rounded-top"
             data-toggle="collapse"
             data-target="#View"
             ng-click="collapsed = !collapsed"
             style="cursor:pointer;">
      <h4>
        <div class="pull-right">
          <i class="glyphicon glyphicon-refresh glyph-hover btn-primary btn-header"
             ng-if="isComplete"
             ng-click="refresh(); $event.stopPropagation()"
             tooltip="Click to refresh data"
             tooltip-placement="left"></i>
          <i class="glyphicon glyph-hover btn-primary btn-header"
             ng-class="collapsed ? 'glyphicon-collapse-down' : 'glyphicon-collapse-up'"
             tooltip="Click to expand details"
             tooltip-placement="left"></i>
        </div>
        {{ model.viewModel.record.test_type_name }} Data
        <span ng-if="!model.getEditEnabled()">(read only)</span>
        <span ng-if="!isComplete">(Loading&hellip;)</span>
      </h4>
    </div>
    <div name="form" class="form-horizontal" novalidate>
      <div class="form-footer text-right bg-info">
        <div class="btn-group pull-left">
          <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle"
                    name="action"
                    ng-disabled="!model.getStatusEditEnabled() || model.isWorking || !isComplete"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aira-expanded="false">
              State: {{ model.viewModel.record.state|cnUCWords }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-if="'assigned' != model.viewModel.record.state && !model.isTypist">
                <a ng-click="model.viewModel.returnToTypist()">
                  {{ 'submitted' == model.viewModel.record.state ? 'Un-submit and ' : '' }} Return to Typist
                </a>
              </li>
              <li ng-if="'deferred' != model.viewModel.record.state &&
                         ( !model.isTypist || 'submitted' != model.viewModel.record.state )">
                <a ng-click="model.viewModel.defer()">
                  {{ 'submitted' == model.viewModel.record.state ? 'Un-submit and ' : '' }} Defer
                </a>
              </li>
              <li ng-if="'submitted' != model.viewModel.record.state &&
                         ( !model.isTypist || 'submitted' != model.viewModel.record.state )">
                <a ng-click="model.viewModel.submit()">
                  {{ model.isTypist ? 'Submit' : 'Force Submit' }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="btn-group pull-left horizontal-spacer">
          <button class="btn btn-danger pull-left"
                  ng-disabled="!model.getEditEnabled() || model.isWorking || !isComplete"
                  ng-click="reset()">
            Reset
          </button>
        </div>
        <div class="btn-group pull-left horizontal-spacer">
          <button class="btn btn-default" ng-click="model.viewModel.viewNotes()">
            Notes ({{ model.viewModel.noteCount }})
          </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary" ng-click="model.viewModel.previous()">
            <i class="glyphicon glyphicon-triangle-left"></i>
            Prev
          </button>
          <button class="btn btn-primary"
                  ng-disabled="!isComplete"
                  ng-click="model.viewModel.viewTranscription()">
            View Transcription
          </button>
          <button class="btn btn-primary" ng-click="model.viewModel.next()">
            Next
            <i class="glyphicon glyphicon-triangle-right"></i>
          </button>
        </div>
      </div>
      <div class="container-fluid vertical-spacer loading" ng-if="!isComplete"></div>
      <div id="View"
           class="form-body collapse"
           ng-if="isComplete"
           ng-class="{'in':!initCollapsed}"
           ng-switch="model.viewModel.record.data_type">
        <cn-aft-data-view ng-switch-when="aft"
                          model="model.viewModel.aftDataModel"
                          edit-enabled="model.getEditEnabled()"></cn-aft-data-view>
        <cn-fas-data-view ng-switch-when="fas"
                          model="model.viewModel.fasDataModel"
                          edit-enabled="model.getEditEnabled()"></cn-fas-data-view>
        <cn-mat-data-view ng-switch-when="mat"
                          model="model.viewModel.matDataModel"
                          edit-enabled="model.getEditEnabled()"></cn-mat-data-view>
        <cn-premat-data-view ng-switch-when="premat"
                          model="model.viewModel.prematDataModel"
                          edit-enabled="model.getEditEnabled()"></cn-premat-data-view>
        <cn-rey-data-view ng-switch-when="rey"
                           model="model.viewModel.reyDataModel"
                           edit-enabled="model.getEditEnabled()"></cn-rey-data-view>
        <hr />
        <div class="container-fluid vertical-spacer">
          <div class="row">
            <label for="audio_status" class="col-sm-2">Audio Status</label>
            <div class="col-sm-4">
              <select
                id="audio_status"
                class="form-control"
                ng-model="model.viewModel.record.audio_status"
                ng-options="item.value as item.name for item in audioStatusList"
                ng-change="model.viewModel.patchStatus( 'audio' )"
                ng-disabled="!model.getStatusEditEnabled()">
              </select>
            </div>
            <label for="participant_status" class="col-sm-2">Participant Status</label>
            <div class="col-sm-4">
              <select
                id="participant_status"
                class="form-control"
                ng-model="model.viewModel.record.participant_status"
                ng-options="item.value as item.name for item in participantStatusList"
                ng-change="model.viewModel.patchStatus( 'participant' )"
                ng-disabled="!model.getStatusEditEnabled()">
              </select>
            </div>
          </div>
        </div>
        <hr />
        <div class="container-fluid vertical-spacer">
          <span ng-if="0 == model.viewModel.soundFileList.length" class="text-info">
            There are no sound files available for this test.
          </span>
          <div class="row" ng-repeat="soundFile in model.viewModel.soundFileList">
            <label for="{{ soundFile.id }}" class="col-sm-3 control-label">{{ soundFile.name }}</label>
            <div class="col-sm-9">
              <audio id="{{ soundFile.id }}" class="full-width" controls>
                <source src="{{ soundFile.url }}" type="audio/wav" />
              </audio>
            </div>
          </div>
        </div>
      </div>
      <div class="form-footer text-right rounded-bottom bg-info">
        <div class="btn-group pull-left">
          <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle"
                    name="action"
                    ng-disabled="!model.getStatusEditEnabled() || model.isWorking || !isComplete"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aira-expanded="false">
              State: {{ model.viewModel.record.state|cnUCWords }} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li ng-if="'assigned' != model.viewModel.record.state && !model.isTypist">
                <a ng-click="model.viewModel.returnToTypist()">
                  {{ 'submitted' == model.viewModel.record.state ? 'Un-submit and ' : '' }} Return to Typist
                </a>
              </li>
              <li ng-if="'deferred' != model.viewModel.record.state &&
                         ( !model.isTypist || 'submitted' != model.viewModel.record.state )">
                <a ng-click="model.viewModel.defer()">
                  {{ 'submitted' == model.viewModel.record.state ? 'Un-submit and ' : '' }} Defer
                </a>
              </li>
              <li ng-if="'submitted' != model.viewModel.record.state &&
                         ( !model.isTypist || 'submitted' != model.viewModel.record.state )">
                <a ng-click="model.viewModel.submit()">
                  {{ model.isTypist ? 'Submit' : 'Force Submit' }}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="btn-group pull-left horizontal-spacer">
          <button class="btn btn-danger pull-left"
                  ng-disabled="!model.getEditEnabled() || model.isWorking || !isComplete"
                  ng-click="reset()">
            Reset
          </button>
        </div>
        <div class="btn-group pull-left horizontal-spacer">
          <button class="btn btn-default" ng-click="model.viewModel.viewNotes()">
            Notes ({{ model.viewModel.noteCount }})
          </button>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary" ng-click="model.viewModel.previous()">
            <i class="glyphicon glyphicon-triangle-left"></i>
            Prev
          </button>
          <button class="btn btn-primary"
                  ng-disabled="!isComplete"
                  ng-click="model.viewModel.viewTranscription()">
            View Transcription
          </button>
          <button class="btn btn-primary" ng-click="model.viewModel.next()">
            Next
            <i class="glyphicon glyphicon-triangle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="vertical-spacer" ng-repeat="child in model.module.children">
  <cn-record-list ng-if="model.viewModel[child.subject.camel+'Model']"
                  model="model.viewModel[child.subject.camel+'Model']"></cn-record-list>
</div>
<div class="vertical-spacer" ng-repeat="child in model.module.choosing">
  <cn-record-list ng-if="model.viewModel[child.subject.camel+'Model'] &&
                         ( 'language' != child.subject.camel || 'rey' != model.viewModel.record.data_type )"
                  model="model.viewModel[child.subject.camel+'Model']"></cn-record-list>
</div>
