<cn-record-view ng-show="false" model="model"></cn-record-view>
<div class="vertical-spacer">
  <div class="record-view rounded">
    <div class="container-fluid bg-primary rounded-top"
             data-toggle="collapse"
             data-target="#View"
             ng-click="collapsed = !collapsed"
             style="cursor:pointer;">
      <h4>
        <div class="pull-right">
          <i class="glyphicon glyphicon-refresh glyph-hover btn-primary btn-header"
             ng-if="isComplete"
             ng-click="refresh(); $event.stopPropagation()"
             tooltip="Click to refresh data"
             tooltip-placement="left"></i>
          <i class="glyphicon glyph-hover btn-primary btn-header"
             ng-class="collapsed ? 'glyphicon-collapse-down' : 'glyphicon-collapse-up'"
             tooltip="Click to expand details"
             tooltip-placement="left"></i>
        </div>
        {{ model.viewModel.record.test_type_title }} ({{ model.viewModel.record.test_type_name }}) Data
        <span ng-if="!model.getEditEnabled()">(read only)</span>
        <span ng-if="!isComplete">(Loading&hellip;)</span>
      </h4>
    </div>
    <form name="form" class="form-horizontal" novalidate>
      <div id="View"
           class="form-body collapse"
           ng-class="{'in':!initCollapsed}"
           ng-switch="model.viewModel.record.test_type_name">
        <div class="vertical-spacer" ng-if="'deferred' == model.viewModel.record.state">
          <div class="form-group first-form-group">
            <label for="value" class="col-sm-3 control-label">Deferral Note</label>
            <div class="col-sm-9 form-text" style="white-space:pre-wrap;">{{ model.viewModel.record.note }}</div>
          </div>
          <hr />
        </div>
        <cn-aft-data-view ng-switch-when="AFT"
                          model="model.viewModel.AftDataModel"
                          edit-enabled="model.getEditEnabled()"></cn-aft-data-view>
        <cn-mat-data-view ng-switch-when="MAT"
                          model="model.viewModel.MatDataModel"
                          edit-enabled="model.getEditEnabled()"></cn-mat-data-view>
        <cn-rey1-data-view ng-switch-when="REY1"
                           model="model.viewModel.Rey1DataModel"
                           edit-enabled="model.getEditEnabled()"></cn-rey1-data-view>
        <cn-rey2-data-view ng-switch-when="REY2"
                           model="model.viewModel.Rey2DataModel"
                           edit-enabled="model.getEditEnabled()"></cn-rey2-data-view>
      </div>
      <div class="form-footer text-right rounded-bottom bg-info">

        <div class="btn-group pull-left" ng-if="model.isTypist()">
          <button class="btn btn-default"
                  ng-disabled="!model.getEditEnabled() || model.isWorking || !isComplete"
                  ng-click="model.viewModel.defer()">
            Defer
          </button>
          <button class="btn btn-default"
                  ng-disabled="!model.getEditEnabled() || model.isWorking || !isComplete"
                  ng-click="model.viewModel.submit()">
            Submit
          </button>
        </div>

        <div ng-if="!model.isTypist()">
          <div class="btn-group pull-left" ng-if="'assigned' == model.viewModel.record.state">
            <button class="btn btn-default"
                    ng-disabled="!model.getEditEnabled() || model.isWorking || !isComplete"
                    ng-click="model.viewModel.defer()">
              Defer
            </button>
            <button class="btn btn-default"
                    ng-disabled="!model.getEditEnabled() || model.isWorking || !isComplete"
                    ng-click="model.viewModel.submit()">
              Force Submit
            </button>
          </div>
          <div class="btn-group pull-left" ng-if="'deferred' == model.viewModel.record.state">
            <button class="btn btn-default"
                    ng-disabled="!model.getEditEnabled() || model.isWorking || !isComplete"
                    ng-click="model.viewModel.returnToTypist()">
              Return to Typist
            </button>
            <button class="btn btn-default"
                    ng-disabled="!model.getEditEnabled() || model.isWorking || !isComplete"
                    ng-click="model.viewModel.submit()">
              Force Submit
            </button>
          </div>
          <div class="btn-group pull-left" ng-if="'submitted' == model.viewModel.record.state">
            <button class="btn btn-default"
                    ng-disabled="!model.getEditEnabled() || model.isWorking || !isComplete"
                    ng-click="model.viewModel.returnToTypist()">
              Return to Typist
            </button>
          </div>
        </div>

        <div class="btn-group pull-left horizontal-spacer">
          <button class="btn btn-info" ng-click="model.viewModel.previous()">
            <i class="glyphicon glyphicon-triangle-left"></i>
            Prev
          </button>
          <button class="btn btn-info" ng-click="model.viewModel.next()">
            Next
            <i class="glyphicon glyphicon-triangle-right"></i>
          </button>
        </div>

        <div class="btn-group">
          <button class="btn btn-primary"
                  ng-disabled="!isComplete"
                  ng-click="model.viewModel.viewTranscription()">
            View Transcription
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="vertical-spacer" ng-repeat="child in model.module.children">
  <cn-record-list ng-if="model.viewModel[child.subject.camel+'Model']"
                  model="model.viewModel[child.subject.camel+'Model']"></cn-record-list>
</div>
<div class="vertical-spacer" ng-repeat="child in model.module.choosing">
  <cn-record-list ng-if="model.viewModel[child.subject.camel+'Model']"
                  model="model.viewModel[child.subject.camel+'Model']"></cn-record-list>
</div>
