{##
 # word_correct.twig
 #
 # View assignment details.
 # @author Patrick Emond <emondpd@mcmaster.ca>
 # @see base_view.twig for parameters
 #}
{% extends "widget.twig" %}

{% block javascript %}

  {{ parent() }}

{% endblock javascript %}

{% block widget %}

  <div class="ui-widget ui-widget-content app-widget-content">
    Test.
  </div>

{% endblock widget %}
